.navbar {
  display: flex;
  margin: 0 auto;
  width: 1340px;
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  position: sticky;
  top: 0;
}
.navbar .navbar__icons {
  display: flex;
  align-items: center;
  gap: 32px;
}

.hero {
  overflow: hidden;
}
.hero .main {
  display: grid;
  justify-content: space-between;
  align-content: center;
  gap: 100px;
  grid-template-columns: 450px 1fr;
  width: 1340px;
  margin: 0 auto;
  z-index: 1;
  padding-top: 100px;
  height: 100%;
}
.hero .main .main__left {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 550px;
  gap: 15px;
}
.hero .main .main__left .main__left-banner {
  width: 250px;
  padding: 10px;
  text-align: center;
  color: #DBE6FF;
  font-family: "Inter", sans-serif;
  background: linear-gradient(#121419, #121419) padding-box, linear-gradient(to right, #ff424d, #1847b1) border-box;
  border-radius: 10px;
  border: 1px solid transparent;
}
.hero .main .main__left h1 {
  font-weight: 700;
  font-family: "IBM Plex Mono", monospace;
  font-size: 80px;
  color: #DBE6FF;
  margin: 8px 0;
}
.hero .main .main__left .main__left-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #DBE6FF;
  line-height: 1.75;
}
.hero .main .main__left .button {
  color: #dbe6ff;
  transition: all 0.25s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
.hero .main .main__left .button-start {
  border: 1px solid #1f2635;
  height: 54px;
  max-width: 162px;
}
.hero .main .main__left .button-start .button-arrow {
  transform: rotate(180deg);
  margin-right: 10px;
}
.hero .main .main__left .button-start:hover {
  border: 1px solid #3c4558;
}
.hero .main .main__right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 500px;
  transform: translate(50px);
}
.hero .main .main__right .main__right-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 1200px;
  height: 450px;
}
.hero .main .main__right .main__right-cards .main__right-cardAnime {
  text-decoration: none;
  color: #DBE6FF;
  font-family: "Inter", sans-serif;
  min-width: 300px;
  height: 200px;
  position: relative;
  display: inline-flex;
  padding: 8px;
  align-items: flex-start;
  gap: 16px;
  background: linear-gradient(#121419, #121419) padding-box, linear-gradient(to left, rgba(24, 71, 177, 0.2), rgba(161, 196, 247, 0.2)) border-box;
  border: 1px solid transparent;
  border-radius: 10px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  transition: all 0.25s ease;
  overflow: hidden;
}
.hero .main .main__right .main__right-cards .main__right-cardAnime .cardAnime__cover img {
  height: 200px;
  width: 140px;
  object-fit: cover;
  border-radius: 10px;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}
.hero .main .main__right .main__right-cards .main__right-cardAnime .cardAnime__cover .cardAnime__cover-overlay {
  display: flex;
  width: 100%;
  padding: 24px 8px 12px 12px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  bottom: -1px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}
.hero .main .main__right .main__right-cards .main__right-cardAnime .cardAnime__cover .cardAnime__cover-overlay .cardAnime__cover-rated {
  color: #dbe6ff;
  border-left: 1px solid #dbe6ff;
  padding-left: 12px;
  display: flex;
  align-items: center;
}
.hero .main .main__right .main__right-cards .main__right-cardAnime .cardAnime__cover .cardAnime__cover-overlay .cardAnime__cover-rated small {
  font-size: 12px;
  font-family: "Inter", sans-serif;
}
.hero .main .main__right .main__right-cards .main__right-cardAnime .cardAnime__body {
  display: flex;
  max-width: 200px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  z-index: 1;
}
.hero .main .main__right .main__right-cards .main__right-cardAnime .cardAnime__body .cardAnime__body-cheap {
  font-family: #a1c4f7;
  border: 1px solid #3c4558;
  padding: 8px;
  font-size: 12px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}
.hero .main .main__right .main__right-cards .main__right-cardAnime .cardAnime__body .cardAnime__body-meta {
  font-size: 12px;
}
.hero .main .main__right .main__right-cards .main__right-cardAnime .cardAnime__body .cardAnime__body-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  overflow: hidden;
  color: #DBE6FF;
  text-overflow: ellipsis;
  margin: 10px 0;
  max-width: 180px;
  line-height: 1.25;
}
.hero .main .main__right .main__right-cards .main__right-cardAnime .cardAnime__body .cardAnime__body-rating {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.hero .main .main__right .main__right-cards .main__right-cardAnime .cardAnime__body .cardAnime__body-rating .cardAnime__body-score .cardAnime__body-star {
  display: flex;
  align-items: center;
  gap: 4px;
}
.hero .main .main__right .main__right-cards .main__right-cardAnime .cardAnime__body .cardAnime__body-rating .cardAnime__body-rank .cardAnime__body-grid {
  display: flex;
  align-items: center;
  gap: 4px;
}
.hero .main .main__right .main__right-cards .main__right-cardAnime .cardAnime__body .cardAnime__body-genres {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.hero .main .main__right .main__right-cards .main__right-cardAnime .cardAnime__body .cardAnime__body-genres .cardAnime__body-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #DBE6FF;
  border-radius: 8px;
  text-overflow: ellipsis;
  max-width: 200px;
  padding: 8px;
  background-color: #1f2635;
  font-size: 12px;
  max-height: 29px;
}
.hero .main .main__right .main__right-cardAnime:nth-child(4) {
  margin-left: 32px;
}

.mangaList {
  width: 1340px;
  margin: 0 auto;
}
.mangaList h2 {
  font-weight: 700;
  font-family: "IBM Plex Mono", monospace;
  font-size: 30px;
  color: #DBE6FF;
  margin: 8px 0;
}
.mangaList .mangaList__main {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.mangaList .mangaList__main .mangaList__cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 915px;
  gap: 16px;
}
.mangaList .mangaList__main .mangaList__cards .mangaList__cardManga {
  text-decoration: none;
  color: #DBE6FF;
  font-family: "Inter", sans-serif;
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.mangaList .mangaList__main .mangaList__cards .mangaList__cardManga .cardManga__active {
  transform: translateY(-8px);
  box-shadow: 0 5px 20px #DBE6FF;
}
.mangaList .mangaList__main .mangaList__cards .mangaList__cardManga .cardManga__hover:hover {
  box-shadow: 0 5px 20px #DBE6FF;
}
.mangaList .mangaList__main .mangaList__cards .mangaList__cardManga .cardManga__cover {
  background: linear-gradient(#121419, #121419) padding-box, linear-gradient(to left, rgba(24, 71, 177, 0.2), rgba(161, 196, 247, 0.2)) border-box;
  border: 1px solid transparent;
  border-radius: 10px;
}
.mangaList .mangaList__main .mangaList__cards .mangaList__cardManga .cardManga__cover .cardManga__cover-img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  user-select: none;
}
.mangaList .mangaList__main .mangaList__cards .mangaList__cardManga .cardManga__cover .cardManga__cover-overlay {
  display: flex;
  width: 143px;
  min-height: 40px;
  border-radius: 10px;
  border: none;
  left: -2px;
  z-index: 1;
  padding: 5px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  bottom: 4px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}
.mangaList .mangaList__main .mangaList__cards .mangaList__cardManga .cardManga__cover .cardManga__cover-overlay .cardManga__cover-type {
  color: #dbe6ff;
  padding-left: 5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}
.mangaList .mangaList__main .mangaList__cards .mangaList__cardManga .cardManga__cover .cardManga__cover-overlay .cardManga__cover-type .cardManga__cover-title {
  font-size: 13px;
  font-weight: 500;
  width: 100%;
  max-height: 30px;
  overflow: hidden;
  color: #DBE6FF;
  text-overflow: ellipsis;
}
.mangaList .mangaList__main .mangaList__cards .mangaList__cardManga .cardManga__body {
  display: flex;
  max-width: 200px;
  flex-direction: column;
  align-content: flex-end;
  gap: 8px;
  z-index: 1;
}
.mangaList .mangaList__main .mangaList__cards .mangaList__cardManga .cardManga__body .cardManga__body-cheap {
  font-family: "Inter", sans-serif;
  border: 1px solid #3c4558;
  padding: 8px;
  font-size: 12px;
  border-radius: 10px;
  width: 70px;
  text-align: center;
}
.mangaList .mangaList__main .mangaList__cards .mangaList__cardManga .cardManga__body .cardManga__body-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  overflow: hidden;
  color: #DBE6FF;
  text-overflow: ellipsis;
  margin: 10px 0;
  max-width: 180px;
  line-height: 1.25;
}
.mangaList .mangaList__main .mangaList__right .position-sticky {
  position: sticky;
  top: 0;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-filter .search {
  display: flex;
  align-items: center;
  position: relative;
  width: 375px;
  margin-right: 10px;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-filter .search .search-input {
  background-color: transparent;
  border: 1px solid #3c4558;
  color: #dbe6ff;
  width: 100%;
  max-height: 40px;
  padding: 12px;
  border-radius: 10px;
  outline: none;
  transition: 0.3s ease;
  color: #dbe6ff;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-filter .search .search-icon {
  position: absolute;
  right: 10px;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-filter .filter {
  border: 1px solid #3c4558;
  background-color: transparent;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: transform 0.3s ease;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-filter .filter:hover {
  transform: scale(1.05);
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__description {
  max-width: 425px;
  max-height: 20px;
  background: linear-gradient(#121419, #121419) padding-box, linear-gradient(to left, rgba(24, 71, 177, 0.2), rgba(161, 196, 247, 0.2)) border-box;
  color: #DBE6FF;
  border-radius: 10px;
  border: 1px solid transparent;
  font-family: "Inter", sans-serif;
  padding: 15px;
  transition: max-height 0.5s ease-out;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__description .mangaList__description-card .card__header {
  display: flex;
  justify-content: space-between;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__description .mangaList__description-card .card__header .card__header-img img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__description .mangaList__description-card .card__header .card__header-right {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__description .mangaList__description-card .card__header .card__header-right .card__header-status {
  border: 1px solid #3c4558;
  padding: 8px;
  font-size: 12px;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  align-self: flex-end;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__description .mangaList__description-card .card__header .card__header-right .card__header-title {
  align-self: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 40px;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__description .mangaList__description-card .card__header .card__header-right .card__header-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  max-height: 80px;
  overflow: hidden;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__description .mangaList__description-card .card__header .card__header-right .card__header-genres .card__header-genre {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #DBE6FF;
  max-width: 200px;
  font-size: 12px;
  max-height: 29px;
  background-color: #1f2635;
  gap: 4px;
  padding: 8px;
  border-radius: 8px;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__description .mangaList__description-card .card__footer .card__footer-top {
  border: 1px solid #3c4558;
  padding: 8px;
  font-size: 14px;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__description .mangaList__description-card .card__footer .card__footer-desc {
  line-height: 1.45;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-height: 180px;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__description .mangaList__false {
  animation: pulse 2.5s ease-in-out 3.5s infinite;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__menu-button {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__menu-button .mangaList__left-button {
  display: flex;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__menu-button .mangaList__left-button .mangaList__button-read {
  border: 1px solid #3c4558;
  background-color: transparent;
  padding: 8px;
  font-size: 14px;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  color: #DBE6FF;
  font-family: "Inter", sans-serif;
  margin-right: 5px;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__menu-button .mangaList__left-button .mangaList__button-read:hover {
  color: rgba(219, 230, 255, 0.5);
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__menu-button .mangaList__left-button .dropdown {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__menu-button .mangaList__left-button .dropdown__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80px;
  min-width: 60px;
  padding: 8px;
  background-color: transparent;
  color: #DBE6FF;
  border: 1px solid #3c4558;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__menu-button .mangaList__left-button .dropdown__button:focus {
  outline: none;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__menu-button .mangaList__left-button .dropdown__arrow {
  transition: transform 0.3s;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__menu-button .mangaList__left-button .dropdown__arrow.open {
  transform: rotate(180deg);
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__menu-button .mangaList__left-button .dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: transparent;
  border: 1px solid #3c4558;
  border-radius: 10px;
  margin-top: 5px;
  z-index: 1;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__menu-button .mangaList__left-button .dropdown__item {
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__menu-button .mangaList__left-button .dropdown__item:hover {
  color: rgba(219, 230, 255, 0.5);
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__menu-button .mangaList__button-full {
  background-color: #1f2635;
  padding: 8px;
  font-size: 14px;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  color: #DBE6FF;
  font-family: "Inter", sans-serif;
  margin-right: 5px;
  transition: transform 0.3s ease;
  border: none;
  text-decoration: none;
}
.mangaList .mangaList__main .mangaList__right .mangaList__right-bar .mangaList__menu-button .mangaList__button-full:hover {
  transform: scale(1.05);
}
.mangaList .mangaList__main .mangaList__right .mangaList__description.mangaList__active {
  max-height: 450px;
}

.mangaById {
  position: relative;
  height: 450px;
  overflow: hidden;
}
.mangaById .mangaById__background {
  display: flex;
  width: calc(100% + 250px);
  height: 450px;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #000;
  overflow-y: visible;
  transform: translate(-200px);
  z-index: 3;
}
.mangaById .mangaById__background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 250px);
  height: 450px;
  background-color: rgba(18, 20, 25, 0.8);
  z-index: 2;
}
.mangaById .mangaById__background img {
  width: 250px;
  height: 450px;
  transform: skew(-20deg);
  object-fit: cover;
  z-index: 1;
  filter: blur(1px);
}
.mangaById .mangaById__desc {
  position: relative;
  z-index: 4;
}/*# sourceMappingURL=main.css.map */