@use "../../assets/styles/variables";
@use "../../assets/styles/mixins";

.mangaList {
  width: 1340px;
  margin: 0 auto;

  h2 {
    font-weight: 700;
    font-family: variables.$font-IBM;
    font-size: 30px;
    color: variables.$test-color;
    margin: 8px 0;
  }

  .mangaList__main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .mangaList__cards {
      display: flex;
      flex-wrap: wrap;
      max-width: 915px;
      gap: 16px;

      .mangaList__cardManga {
        text-decoration: none;
        color: variables.$test-color;
        font-family: variables.$font-Inter;
        position: relative;
        display: inline-flex;
        align-items: flex-start;
        gap: 16px;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        // transition: scale 0.3s ease;
        .cardManga__active {
          transform: translateY(-8px);
          box-shadow: 0 5px 20px variables.$test-color;
        }

        .cardManga__hover:hover {
          box-shadow: 0 5px 20px variables.$test-color;
        }

        .cardManga__cover {
          background: linear-gradient(#121419, #121419) padding-box,
            linear-gradient(to left,
              rgba(24, 71, 177, 0.2),
              rgba(161, 196, 247, 0.2)) border-box;
          border: 1px solid transparent;
          border-radius: 10px;

          .cardManga__cover-img {
            width: 150px;
            height: 200px;
            // object-fit: cover;
            border-radius: 10px;
            user-select: none;
          }

          .cardManga__cover-overlay {
            display: flex;
            width: 143px;
            // width: 100%;
            min-height: 40px;
            // border-bottom-left-radius: 10px;
            // border-bottom-right-radius: 10px;
            border-radius: 10px;
            border: none;
            left: -2px;
            z-index: 1;
            // padding: 24px 8px 12px 12px;
            // padding: 4px 2px 3px 4px;
            padding: 5px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            position: absolute;
            bottom: 4px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
            // background: rgba(0, 0, 0, 0.6);

            .cardManga__cover-type {
              color: #dbe6ff;
              // border-left: 1px solid #dbe6ff;
              padding-left: 5px;
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              gap: 4px;

              .cardManga__cover-title {
                font-size: 13px;
                font-weight: 500;
                width: 100%;
                max-height: 30px;
                overflow: hidden;
                color: variables.$test-color;
                text-overflow: ellipsis;
              }
            }
          }
        }

        .cardManga__body {
          display: flex;
          max-width: 200px;
          flex-direction: column;
          align-content: flex-end;
          gap: 8px;
          z-index: 1;

          .cardManga__body-cheap {
            font-family: variables.$font-Inter;
            border: 1px solid #3c4558;
            padding: 8px;
            font-size: 12px;
            border-radius: 10px;
            width: 70px;
            text-align: center;
          }

          .cardManga__body-chapters {}

          .cardManga__body-title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            align-self: stretch;
            overflow: hidden;
            color: variables.$test-color;
            text-overflow: ellipsis;
            margin: 10px 0;
            max-width: 180px;
            line-height: 1.25;
          }
        }
      }
    }

    .mangaList__right {
      .position-sticky {
        position: sticky;
        top: 0;
      }

      .mangaList__right-filter {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .search {
          display: flex;
          align-items: center;
          position: relative;
          width: 375px;
          margin-right: 10px;
          .search-input {
            background-color: transparent;
            border: 1px solid #3c4558;
            color: #dbe6ff;
            width: 100%;
            max-height: 40px;
            // height: 40px;
            padding: 12px;
            // border: 2px solid transparent;
            border-radius: 10px;
            outline: none;
            transition: .3s ease;
            color: #dbe6ff;
            font-size: 14px;
            font-family: variables.$font-Inter
          }

          .search-icon {
            position: absolute;
            right: 10px;
          }
        }

        .filter {
          border: 1px solid #3c4558;
          background-color: transparent;
          // padding: 8px;
          border-radius: 8px;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 2;
          transition: transform 0.3s ease;

        }

        .filter:hover {
          transform: scale(1.05);
        }
      }


      .mangaList__right-bar {
        .mangaList__description {
          max-width: 425px;
          max-height: 20px;
          background: linear-gradient(#121419, #121419) padding-box,
            linear-gradient(to left,
              rgba(24, 71, 177, 0.2),
              rgba(161, 196, 247, 0.2)) border-box;
          color: variables.$test-color;
          border-radius: 10px;
          border: 1px solid transparent;
          // text-align: right;
          font-family: variables.$font-Inter;
          padding: 15px;
          transition: max-height 0.5s ease-out;

          .mangaList__description-card {
            .card__header {
              display: flex;
              justify-content: space-between;

              // padding-bottom: 20px;
              .card__header-img {
                img {
                  width: 150px;
                  height: 200px;
                  // object-fit: cover;
                  border-radius: 10px;
                }
              }

              .card__header-right {
                width: 220px;
                display: flex;
                flex-direction: column;
                gap: 16px;

                .card__header-status {
                  border: 1px solid #3c4558;
                  padding: 8px;
                  font-size: 12px;
                  width: 100px;
                  text-align: center;
                  border-radius: 10px;
                  align-self: flex-end;
                }

                .card__header-title {
                  align-self: flex-start;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-height: 40px;
                }

                .card__header-genres {
                  display: flex;
                  flex-wrap: wrap;
                  gap: 4px;
                  max-height: 80px;
                  overflow: hidden;

                  .card__header-genre {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: variables.$test-color;
                    max-width: 200px;
                    font-size: 12px;
                    max-height: 29px;
                    background-color: #1f2635;
                    gap: 4px;
                    padding: 8px;
                    border-radius: 8px;
                  }
                }
              }
            }

            .card__footer {
              .card__footer-top {
                border: 1px solid #3c4558;
                padding: 8px;
                font-size: 14px;
                width: 100px;
                text-align: center;
                border-radius: 10px;
              }

              .card__footer-desc {
                line-height: 1.45;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                max-height: 180px;
              }
            }
          }

          .mangaList__false {
            animation: pulse 2.5s ease-in-out 3.5s infinite;
          }

          @keyframes pulse {
            0% {
              opacity: 1;
            }

            50% {
              opacity: 0.4;
            }

            100% {
              opacity: 1;
            }
          }
        }

        .mangaList__menu-button {
          margin-top: 15px;

          display: flex;
          justify-content: space-between;
            .mangaList__left-button {
              display: flex;
             
              .mangaList__button-read {
                border: 1px solid #3c4558;
                background-color: transparent;
                padding: 8px;
                font-size: 14px;
                width: 80px;
                text-align: center;
                border-radius: 10px;
                color: variables.$test-color;
                // font-family: variables.$font-IBM;
                font-family: variables.$font-Inter;
                margin-right: 5px;
                // text-transform: uppercase;
                &:hover {
                  color: rgba(219, 230, 255, 0.5);
                }
              }

              .dropdown {
                position: relative;
                display: inline-block;
                font-family: Arial, sans-serif;

                &__button {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  max-width: 80px;
                  min-width: 60px;
                  padding: 8px;
                  background-color: transparent;
                  color: variables.$test-color;
                  border: 1px solid #3c4558;
                  border-radius: 10px;
                  cursor: pointer;
                  font-size: 16px;

                  &:focus {
                    outline: none;
                  }
                }

                &__arrow {
                  transition: transform 0.3s;
                }

                &__arrow.open {
                  transform: rotate(180deg);
                }

                &__menu {
                  position: absolute;
                  top: 100%;
                  left: 0;
                  width: 100%;
                  background-color: transparent;
                  border: 1px solid #3c4558;
                  border-radius: 10px;
                  // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
                  margin-top: 5px;
                  z-index: 1;
                }

                &__item {
                  padding: 10px;
                  color: #ffffff;
                  cursor: pointer;

                  &:hover {

                    color: rgba(219, 230, 255, 0.5);
                  }
                }
              }
             
            }
            .mangaList__button-full {
              // border: 1px solid #3c4558;
              background-color: #1f2635;
              padding: 8px;
              font-size: 14px;
              width: 150px;
              text-align: center;
              border-radius: 10px;
              color: variables.$test-color;
              font-family: variables.$font-Inter;
              margin-right: 5px;
              transition: transform 0.3s ease;
              border: none;
              text-decoration: none;
              // cursor: pointer;
              // text-transform: uppercase;
              &:hover {
                // color: rgba(219, 230, 255, 0.8);
                transform: scale(1.05);
              }
            }
        }
      }

      .mangaList__description.mangaList__active {
        // height: auto;
        max-height: 450px;
      }

    }
  }
}